<h1>Admin page</h1>
<a class="btn btn-secondary mx-2" href="@Url.Action("ComponentList","Admin")">Lista componenti</a>

<a class="btn btn-secondary mx-2" href="@Url.Action("Index","Page")">Lista Pagine</a>