@{
    ViewData["Title"] = "Dettaglio";
    
}

@model HelperModel


<div>
    <div class="text-center">
        <h1 class="display-4">@Model.Page.Title</h1>         
    </div>
    <div  class="contaienr">
        
        Vedo la pagina
    </div>
    
</div>
